<header class="header">
    <img class="header_logo" src="assets/images/immaculate.png" alt="ImmaCare+ Logo">
    <nav class="navbar">
        <a href="#home" data-nav="main.html" id="home-link">HOME</a>
        <a href="#doctors" data-nav="doctors.html" id="doctors-link">DOCTORS</a>
        
        <!-- These links have the correct attributes to be controlled by navigation.js -->
        <a href="#appointment" data-nav="appointment.html" id="appointment-link" data-requires-login="true" style="display: none;">APPOINTMENT</a>
        <a href="myappointments.html" data-nav="myappointments.html" id="myappointments-link" data-requires-login="true" style="display: none;">MY APPOINTMENTS</a>

        <a href="#login" data-nav="login.html" id="nav-login-link" class="nav-item-logged-out" style="display: none;">LOGIN</a>
        <a href="/logout" id="nav-logout-link" class="nav-item-logged-in" style="display: none;">LOGOUT</a>
    </nav>
    <a href="#download" class="download-btn">Download the App </a>
</header>